.franchiseName {
    --franchiseOffset: 15px;
    position: absolute;
    top: 81px;
    z-index: 5;
    width: calc(var(--teamname) - var(--franchiseOffset));
    height: 21px;
    padding: 0 10px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    line-height: 21px;
}

.franchiseName.long {
    font-size: 16px;
}

#FranchiseName0 {
    text-align: right;
    left: calc(var(--windowWidth)/2 - var(--clock)/2 - var(--score) - var(--teamname) - var(--border)*4);
}

#FranchiseName1 {
    text-align: left;
    left: calc(var(--windowWidth)/2 + var(--clock)/2 + var(--score) + var(--franchiseOffset) + var(--border)*2);
}
