@import "components/ball.css";
@import "components/clock.css";
@import "components/franchise.css";
@import "components/playerBoxes.css";
@import "components/replay.css";
@import "components/teamLogo.css";
@import "components/teamName.css";
@import "components/teamScore.css";
@import "components/teamSeriesScore.css";
@import "components/textitems.css";
@import "components/watching.css";

:root {
    --clock: 126px;
    --score: 60px;
    --teamname: 280px;
    --playerbox: 335px;
}

body {
	position: relative;
	margin: 0;
    padding: 0;
	width: var(--windowWidth);
	height: var(--windowHeight);
    overflow: hidden;;
}

#LivePlay {
	font-family: Hexagle, Helvetica, Arial, sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
	width: var(--windowWidth);
	height: var(--windowHeight);
    background: url("/overlay-bg.svg") no-repeat top center;
}


