:root {
	font-family: RSC, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	color-scheme: light dark;
	background: transparent;
    font-weight: bold;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

    --windowWidth: 1920px;
    --windowHeight: 1080px;

    --border: 10px;
    --radius: 8px;

    --header: 32px;
    --footer: 22px;

    /* --team0: #206cff; */
    --team0: rgba(32, 108, 255);
    --team0fade: rgba(32, 108, 255, .15);
    /* --team1: #f88521; */
    --team1: rgba(248, 133, 33);
    --team1fade: rgba(248, 133, 33, .15);

    --navy: #00253d;
    --navytranslucent: rgba(0, 37, 61, .7);
    --lightnavy: #003c5e;
    --red: #ab2b28;
    --gray: #999999;
    --gold: #d4af37;
}

body {
	position: relative;
	margin: 0;
    padding: 0;
	width: var(--windowWidth);
	height: var(--windowHeight);
    overflow: hidden;
}

@font-face {
    font-family: "RSC";
    src: url("./src/assets/fonts/RSC-Bold.ttf");
}